img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    box-sizing: border-box;
    justify-content: center;
}

.gallery-item {

    max-width: 360px;
}